# O que foi passado na aula :
#Como selecionar uma variável do dataframe (por exemplo, dados['Tipo'] ou dados.Tipo)
#Que um dataframe é composto de vários Series
#Como eliminar duplicatas (pelo método drop_duplicates())
#Como redefinir o index de um dataframe e series (atributo index)
#Como concatenar dataframes (lembrando do axis)
#Como criar novos dataframes baseados em estruturas de dados Python (lista, dicionários ou tuples)

In [50]:
import pandas as pd

# Series

In [51]:
data = [ 1, 2, 3, 4, 5]

In [52]:
S = pd.Series(data)
S

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [53]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [54]:
s = pd.Series(data = data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [55]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [56]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [57]:
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [58]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

## Concatenando DataFrames

In [59]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

In [60]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [61]:
Df1 = pd.DataFrame(data = data)
Df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [62]:
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [63]:
Df1 = pd.DataFrame( data = data, index= index)
Df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [64]:
Columns = ['Coluna' + str(i) for i in range(3)]
Columns

['Coluna0', 'Coluna1', 'Coluna2']

In [76]:
df1 = pd.DataFrame( data= data, index= index, columns= Columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [66]:
data = {'Coluna0' : {'Linha0' : 1,'Linha1'  :4, 'Linha2': 7},
        'Coluna1': {'Linha0' : 2,'Linha1' :5, 'Linha2' : 6},
        'Coluna2': {'Linha0' : 3,'Linha1' :6, 'Linha2' : 9}}

In [67]:
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 6},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [68]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        6        9

In [69]:
data = [(1,2,3),
        (4,5,6),
        (7,8,9)]

In [70]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [71]:
Df3 = pd.DataFrame( data= data, index= index, columns= Columns)
Df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [77]:
df1 [df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [73]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [74]:
Df3[Df3 > 0] = 'C'
Df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [79]:
df4 = pd.concat([df1,df2, Df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [80]:
df4 = pd.concat([df1,df2, Df3], axis=1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C