# Relátorio de Análise I

## Importando a Base de dados

In [16]:
#Importando
import pandas as pd

aluguel =pd.read_csv("C:/Users/ruhri/OneDrive/Área de Trabalho/Projetos/Alura_Python/aluguel.csv",sep=";")
aluguel.head()

NameError: name 'Importando' is not defined

In [11]:
#VERIFICANDO A TIPAGEM DOS DADOS
type(aluguel)

pandas.core.frame.DataFrame

In [13]:
#Info dos dados
aluguel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

## Informações gerais sobre a BD

In [18]:
aluguel.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [22]:
Tipos_de_dados =pd.DataFrame(aluguel.dtypes, columns=["Tipos de Dados"])

In [23]:
Tipos_de_dados.columns.name = 'Váriaveis'
Tipos_de_dados

Váriaveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [24]:
aluguel.shape

(32960, 9)

In [25]:
aluguel.shape[0]

32960

In [26]:
aluguel.shape[1]

9

In [27]:
print('A base de dados apresenta {} registros (imóveis) e {} variaveis'.format(aluguel.shape[0],aluguel.shape[1]))

A base de dados apresenta 32960 registros (imóveis) e 9 variaveis