# Criar uma Series booleana usando o método isin(..) a partir do dataframe
Filtrar os dados de um dataframe baseado na Series booleana
Exportar e gravar os dados do dataframe (método to_csv())
Ordenar os dados de um dataframe (métodos sort_values() e sort_index())

In [1]:
import pandas as pd

In [2]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
list('321')

['3', '2', '1']

In [6]:
df = pd.DataFrame(data, list('321'), list('zyx'))
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [10]:
df.sort_index(inplace= True)
df

   z  y  x
1  7  8  9
2  4  5  6
3  1  2  3

In [12]:
df.sort_index(inplace=True, axis=1)
df

   x  y  z
1  9  8  7
2  6  5  4
3  3  2  1

In [14]:
df.sort_values(by= 'x', inplace= True)
df

   x  y  z
3  3  2  1
2  6  5  4
1  9  8  7

In [16]:
df.sort_values(by='3', axis= 1,inplace= True)
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9